POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=

OLLAMA_CHAT_BASE_URL=
OLLAMA_CHAT_API_KEY=
OLLAMA_CHAT_API_TYPE=
OLLAMA_CHAT_NUM_CTX=

OPENAI_CHAT_ENABLED=false
OPENAI_CHAT_API_KEY=
OPENAI_CHAT_MODEL_NAME=

OLLAMA_EMBEDDING_BASE_URL=
OLLAMA_EMBEDDING_API_KEY=
OLLAMA_EMBEDDING_API_TYPE=

DOCUMENT_UPLOAD_ROOT_PATH=

RERANKER_BASE_URL

SQLGEN_FEATURE_ENABLED=
SQLGEN_ENCRYPTION_KEY=
