POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=

OLLAMA_CHAT_BASE_URL=
OLLAMA_CHAT_API_KEY=
OLLAMA_CHAT_API_TYPE=
OLLAMA_CHAT_NUM_CTX=

OLLAMA_EMBEDDING_BASE_URL=
OLLAMA_EMBEDDING_API_KEY=
OLLAMA_EMBEDDING_API_TYPE=

OPENAI_CHAT_ENABLED=false
OPENAI_CHAT_API_KEY=
OPENAI_CHAT_MODEL_NAME=

SQLGEN_ENCRYPTION_KEY=
SQLGEN_FEATURE_ENABLED=